<blockquote>
 </blockquote>
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <h2>Chetan Sir Classes</h2>
  
  <p class="text-primary"> Chetan AngularJS Training: Learn how to create rich and dynamic web applications by using AngularJS new versions Angular 2/4/5/6, code completion, snippets, how to integrate HTML5 markup with declarative syntax and expressions, data-binding, Events, DOM, Forms, Input, Validation, test, refine, and deploy your Angular 2/4/5/6/7 projects, Cheatsheet, Server-side Rendering., etc. You will also get an exposure to industry based Real-time projects in various verticals. 
    Chetan Angular 7, a leading IT Training provider, provides the full gamut of training methodologies and real-time learning experience to deliver integrated learning solutions. Here quality comes First and being the Best at what we do is our way of life. MindScripts is highly recommended by corporates across Pune as source of good quality candidates. At MindScripts technical courses are coupled with real time projects to enable students grasp complete subject knowledge and be ready to start jobs in IT industry from day one. MindScripts has its branches spread all over Pune, to enable students to reach out to the branch closest to them for good quality Training and immediate placements with TOP companies.

    REAL TIME LEARNING EXPERIENCE
    IT Sector has brought a major growth in the Indian Education Industry. It has also given India the much needed visibility and recognit ion in the Global Market. The overwhelming success of the Indian Software Industry has also helped India to build a strong economy. IT Training Industry plays a major role in providing this Industry with the right resources to sustain its continued growth. Considering the never ending demand for quality resources, training academies are pushed to deliver their very best.
    
    MindScripts being amongst the Top IT Training Centres in Pune, offers a unique platform to students wherein they can not only learn the new technology and share knowledge on various subjects with other students and experienced professionals but can also enhance their skill sets through Real-Time Learning Experience.
    
    Most of the students will be at their most important cross roads of identifying the right Institute and the right course. Solving such an enigma is to be tackled by driving more interaction with the experienced professionals from across Industry. Our experts come forward to help you choose the right path out of diverse options available and lead a successful career.
    
  </p>
  
</div>

</body>
</html>
